<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if Pow.Plug.current_user(@conn) do %>
    <meta name="user_mail" content=<%= @current_user.email %>>
    <% end %>
    <title>Kairos · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <style>
      a:hover {
          color: #D9BB41;
          background-color: transparent;
          text-decoration: underline;
      }
    </style>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <h1 style="padding: 35px">Welcome to BigBrain</h1>
          <ul>
            <a href="/journey" > Journey</a>
            <hr>
            <%= if Pow.Plug.current_user(@conn) do %>
            <li>
              <%= @current_user.email %>
            </li>
            <li>
              <%= link "Farewell", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link "Initiation", to: Routes.pow_registration_path(@conn, :new) %>
            </li>
            <li>
              <%= link "Enter Here", to: Routes.pow_session_path(@conn, :new) %>
            </li>
            <% end %>
          </ul>
        </nav>
        <img src="<%= Routes.static_path(@conn, "/images/bigbrain.png") %>"
             width="500px" alt="Phoenix Framework Logo" />
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
