@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/typography";
/* @import "./phoenix.css" is deleted 
making the phoenix.css file useless, so I just deleted it.*/

/* This file is for your main application CSS */

/* This is to hide the scrollbar on mobile, godgamerglen customised the scrollbar utility, not in tailwind yet */
@layer utilities
{
  .scrollbar::-webkit-scrollbar {
    
    display: none;
  }
}

/* for the calendar styling, Glen pls change accordingly haha */
.grid-column-1 {
  grid-column: 1;
}

.grid-column-2 {
  grid-column: 2;
}

.grid-column-3 {
  grid-column: 3;
}

.grid-column-4 {
  grid-column: 4;
}

.grid-column-5 {
  grid-column: 5;
}

.grid-column-6 {
  grid-column: 6;
}

.grid-column-7 {
  grid-column: 7;
}


/* Alerts and form errors used by phx.new */
/* sample text */

/* - create custom css styles here */

@layer components {
  .deez {
    @apply text-slate-700 font-semibold
  }
  .fab {
    @apply  py-2 px-1 bg-blue-500 text-white text-center font-semibold rounded-lg shadow-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-75;
  }
  .smaller-fab {
    @apply py-1 px-2 flex bg-blue-500 text-white font-light text-center rounded-lg shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-700 focus:ring-opacity-75;
  }
  .table-header {
    @apply bg-blue-100 border text-left px-8 py-4 
  }
  .solid-form {
    @apply my-0.5 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-indigo-100 focus:ring-0
  }
  .scrolling-wrapper {
    @apply overflow-x-auto flex flex-nowrap scrollbar 
    }
  .ccard{
    @apply flex-grow-0 flex-shrink-0 basis-auto w-1/2 h-[100px] m-4 px-10 py-12 bg-gray-100 rounded-lg shadow-lg 
  }
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


