<section class="phx-hero">
  <%= if Pow.Plug.current_user(@conn) do %>
  <h1><%= gettext "Welcome to BigBrain, %{name}!", name: @current_user.name %></h1>
  <%= end %>
  <p>Cultivate a tomorrow now</p>
</section>
