<div class ="mx-3">

    <div class=" border-gray-100">
        <h3 class=" mb-3 text-4xl font-light">Calendar 📆</h3>
    </div>

    <Month.calendar
    id="calendar"
    current_path={Routes.transition_index_path(@socket, :index)}
    previous_month={@previous_month}
    next_month={@next_month}
    current={@current}
    end_of_month={@end_of_month}
    beginning_of_month={@beginning_of_month}
    timezone={@timezone} />

    <.live_component module={TransitionList} id="transition_by_date" transitions={@transitions_by_date} timezone={@timezone} timezone_offset={@timezone_offset} phase={nil}/>
</div>