<%= if @live_action in [:edit, :new] do %>
    <.live_component
      module={LifecycleWeb.JourneyLive.FormComponent}
      id={@journey.id}
      title={@page_title}
      action={@live_action}
      journey={@journey}
      return_to={Routes.journey_show_path(@socket, :show, @journey.realm_name, @journey.pointer)}
    />
<% end %>

<%= if @live_action in [:step] do %>
    <.live_component
      module={LifecycleWeb.PhaseLive.FormComponent}
      id={@phase.id || :new}
      title={@page_title}
      action={@live_action}
      phase={@phase}
      phases={@phase}
      return_to={Routes.journey_show_path(@socket, :show, @journey.realm_name, @journey.pointer)}
    />
<% end %>



<div class="min-h-screen w-100 bg-black">
  <br>
  <br>
<article class="prose prose-sm">
  <h2 class="text-white">Journey Navigator</h2>
</article>
  <form phx-change="search" id="search_journey_form">
        <%= text_input :search_journey, :pointer, placeholder: "Jump to Journey", autofocus: true, "phx-debounce": "1000", autocomplete: "off"%>
  </form>
<article class="prose prose-sm">
  <h2 class="text-white"><%= @search_result %></h2>
</article>
  <div class="justify-center items-center flex">
    <article class="prose prose-sm">
      <h1 class="text-white">Realm</h1>
    </article>
  </div>
<button><%= live_patch "+ New Journey in Realm", to: Routes.journey_show_path(@socket, :new, @journey.realm_name, @journey.pointer), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %></button>
  <div class="justify-center items-center flex">
    <article class="prose prose-xl">
      <h1 class="text-white"><%= @journey.realm_name %></h1>
    </article>
  </div>
  <br>
  <br>
  <span class="justify-center items-center flex">
    <%# Previous button %>
    <%= if Enum.at(@journey_list, 0) do %>
      <button class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 bg-transparent border-b border-gray-300 sm:text-base dark:border-gray-500 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400 dark:hover:border-gray-300">
        <%= live_redirect "❮", to: Routes.journey_show_path(@socket, :show, Enum.at(@journey_list, 0).realm_name, Enum.at(@journey_list, 0).pointer) %>
      </button>
    <%= end %>

    <%# Show journey names %>
    <button class="flex items-center h-12 px-4 py-2 text-xl text-center text-gray-700 border border-b-0 border-gray-300 sm:text-base dark:border-gray-500 rounded-t-md dark:text-white whitespace-nowrap focus:outline-none">
        Journey: <%= @journey.name %>
    </button>

    <%# Next button %>
    <%= if Enum.at(@journey_list, 2) do %>
      <button class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 bg-transparent border-b border-gray-300 sm:text-base dark:border-gray-500 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400 dark:hover:border-gray-300">
        <%= live_redirect "❯", to: Routes.journey_show_path(@socket, :show, Enum.at(@journey_list, 2).realm_name, Enum.at(@journey_list, 2).pointer) %>
      </button>
    <%= end %>
  </span>

  <br>
  <br>
  <.live_component module={TransitionList} id="journey_steps" transitions={@steps_in_journey} timezone={@timezone} timezone_offset={@timezone_offset} phase={nil}/>
  <div class="grid place-items-center">
    <div class="ccard"><h2>Card1</h2></div>
    <div class="ccard"><h2>Card2</h2></div>
    <div class="ccard"><h2>Card3</h2></div>
  </div>
    <button><%= live_patch "@ Edit", to: Routes.journey_show_path(@socket, :edit, @journey), class: "button" %></button> |
<button><%= live_redirect "<- View all journeys", to: Routes.journey_index_path(@socket, :index) %></button> |
<button><%= live_redirect "+ Next Step", to: Routes.journey_show_path(@socket, :step, @journey.realm_name, @journey.pointer), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %> </button>
</div>
