<!DOCTYPE html>
<%# the root layout - this is a layout used by both LiveView and regular views.
This layout typically contains the <html> definition alongside the head and body tags. 
Any content defined in the root layout will remain the same, even as you live navigate across LiveViews.
All LiveViews defined at the router must have a root layout. 
The root layout is typically declared on the router with 
put_root_layout and defined as "root.html.heex" in your MyAppWeb.LayoutView.
It may also be given via the :root_layout option to a live_session macro in the router. %>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kairos", suffix: " · LifeCycle Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    
  </head>
  <body class="bg-slate-100 dark:bg-slate-900">
  
<%# dark mode render code %>
    <div class="absolute top-5 right-5">
      <button id="theme-toggle" type="button" class=" text-gray-500 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
      </button>
    </div>
<%# Top right corner sign-out %>
    <%# <%= if Pow.Plug.current_user(@conn) do %>
      <%# < class="absolute top-5 right-5 h-16 w-16 dark:text-white"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete </div> %> 

      
      
    <%# <% end %>
    <%# if screen size damn big, can change color %>
    <%# <body class="bg-slate-200 3xl:bg-red-300"> %>

    <div class ="p-5 absolute h-15 w-15">
      <a href = "/">
      <img class="h-12 animate-[bounce_2s_infinite]" src="/images/bigbrainlogo.png" alt="Big Brain Logo" />
      </a>
      
      
    </div>
    
    <header>
      <section class="mt-2 top-0 left-0 m-2 flex flex-col">
      <%= unless Pow.Plug.current_user(@conn) do %>

      <%# cringe taskbar disabled gone %>
        <%# <p class = "m-auto bg-red-300 p-2 max-w-xs text-center rounded-md "> Taskbar Disabled / Session Expired</p> %>
      <% end %>
        <nav>
          <ul>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li class="mt-20 dark:text-white"><%= @current_user.name %></li>
              <span class="text-center dark:text-white"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
            <% else %>
              <%# <li><%= link "Register", to: Routes.pow_registration_path(@conn, :new)</li> %> 

              <%# <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) </li> %>

            <% end %>
            <%= if Pow.Plug.current_user(@conn) do %>

            <%# cringe access granted gone %>
              <%# <p class = "mt-4 mb-4 bg-green-300 p-2 max-w-sm text-center rounded-md"> Access Granted </p> %>

              <div class="grid grid-cols-3 gap-5">
                
                <%= link "Experiments", to: Routes.phase_index_path(@conn, :index), class: "fab " %>

                <%= link "Parties", to: Routes.party_index_path(@conn, :index), data: [confirm: "Partying while experimenting is highly unstable! \nPrinceton broke something blame him!!"],  class: "py-2 px-1 bg-zinc-300 text-white text-center font-semibold rounded-lg shadow-lg hover:bg-amber-400 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-75 " %>


                <%# <%= link "Party", to: Routes.party_index_path(@conn, :index), class: "fab" %> 
                <%# <%= link "Billing", to: Routes.billing_index_path(@conn, :index), class: "fab" %>
                <%= link "Calendar", to: Routes.transition_index_path(@conn, :index), class: "fab" %>
              </div>
            <% else %>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= if Pow.Plug.current_user(@conn) do %>

                <li class ="mt-2 text-red-700"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <% end %>
            <% end %>
            

          </ul>
        </nav>
        
        <%# if first time connected, put this huge as bigbrain picture as marketing/onboarding %>

        <%= if Pow.Plug.current_user(@conn) do %>
        <% else %>

          <a href="/" class="mt-12 max-w-xl mx-auto bg-slate-100 rounded-xl dark:bg-slate-900 flex object-center">
            <img class="h-24 object-fill animate-[bounce_5s_infinite]" src={Routes.static_path(@conn, "/images/bigbrainlogo.png")} alt="Big Brain Logo"/>
          </a>
        <% end %>
      </section>
    </header>
    <%= @inner_content %>

    <%# <%= if Pow.Plug.current_user(@conn) do %> 
      <%# <span class="text-center"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete ></span> %> 
    <%# <% end %>

    
  </body>
  
</html>
