<!DOCTYPE html>
<%# the root layout - this is a layout used by both LiveView and regular views.
This layout typically contains the <html> definition alongside the head and body tags. 
Any content defined in the root layout will remain the same, even as you live navigate across LiveViews.
All LiveViews defined at the router must have a root layout. 
The root layout is typically declared on the router with 
put_root_layout and defined as "root.html.heex" in your MyAppWeb.LayoutView.
It may also be given via the :root_layout option to a live_session macro in the router. %>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kairos", suffix: " · LifeCycle Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    
  </head>
  <body class="bg-slate-200">

    <%= if Pow.Plug.current_user(@conn) do %>
      <div class="absolute top-5 right-5 h-16 w-16 ..."><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></div>
    <% end %>
    <%# if screen size damn big, can change color %>
    <%# <body class="bg-slate-200 3xl:bg-red-300"> %>

    <div class ="p-5 absolute h-15 w-15">
      <a href = "/">
      <img class="h-12 animate-[bounce_2s_infinite]" src="/images/bigbrainlogo.png" alt="Big Brain Logo" />
      </a>
      
    </div>
    
    <header>
      <section class="mt-2 flex top-0 left-0 m-2 flex flex-col">
      <%= unless Pow.Plug.current_user(@conn) do %>
        <p class = "m-auto bg-red-300 p-2 max-w-xs text-center rounded-md "> Taskbar Disabled / Session Expired</p>
      <% end %>
        <nav>
          <ul>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li class="mt-20"><%= @current_user.name %></li>
              <span class="text-center"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
            <% else %>
              <%# <li><%= link "Register", to: Routes.pow_registration_path(@conn, :new)</li> %> 

              <%# <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) </li> %>

            <% end %>
            <%= if Pow.Plug.current_user(@conn) do %>
              <p class = "mt-4 mb-4 bg-green-300 p-2 max-w-sm text-center rounded-md"> Access Granted </p>

              <div class="grid grid-cols-3 gap-5">
                
                <%= link "Experiments", to: Routes.phase_index_path(@conn, :index), class: "fab" %>

                <%= link "Groups", to: "#", data: [confirm: "Group Experiments is still under construction! \nPrinceton broke something blame him!!"],  class: "py-2 px-1 bg-gray-500 text-white text-center font-semibold rounded-lg shadow-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-opacity-75 " %>


                <%# <%= link "Party", to: Routes.party_index_path(@conn, :index), class: "fab" %> 
                <%# <%= link "Billing", to: Routes.billing_index_path(@conn, :index), class: "fab" %>
                <%= link "Calendar", to: Routes.transition_index_path(@conn, :index), class: "fab" %>
              </div>
            <% else %>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= if Pow.Plug.current_user(@conn) do %>

                <li class ="mt-2 text-red-700"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <% end %>
            <% end %>
            

          </ul>
        </nav>
        
        <%# if first time connected, put this huge as bigbrain picture as marketing/onboarding %>

        <%= if Pow.Plug.current_user(@conn) do %>
        <% else %>

          <a href="/" class="mt-12 max-w-xl mx-auto bg-slate-200 rounded-xl shadow-lg flex object-center">
            <img class="h-20 object-fill animate-[bounce_5s_infinite]" src={Routes.static_path(@conn, "/images/bigbrainlogo.png")} alt="Big Brain Logo"/>
          </a>
        <% end %>
      </section>
    </header>
    <%= @inner_content %>

    <%# <%= if Pow.Plug.current_user(@conn) do %> 
      <%# <span class="text-center"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete ></span> %> 
    <%# <% end %>

    
  </body>
  
</html>
